* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans';
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

section {
    background-color: #fff;
    width: 72%;
    height: 500px;
    position: relative;
    border-radius: 25px;
    display: flex;
    .section_left {
     background-image: url(images/bg-pattern-desktop.png);
     background-size: cover;
     flex:50%;
        .box {
            position: absolute;
            left:-110px;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .section_right {
        flex:50%;
        font-size: 30px;
        padding:6%;
      .section_right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .row {
            display: flex;
            flex-direction: column;
            transition: 0.3s all ease-in-out;
             transition: 0.3s all ease-in-out;
             cursor: pointer;
           
            
            &::after {
                content:" ";
                display: block;
                background-color: gray;
                height: 1px;
                margin: 10px 0px 10px
            }
            .questions {
                margin-top: 20px;
                display: flex;
                align-items: center;
                font-size: 21px;
                justify-content: space-between;
                transition: 0.3s all ease-in-out;
                position: relative;
                .arrow {
                transition: 0.3s all ease-in-out;
                cursor: pointer;
                }
            }
            .answer {  
                transition: 0.3s all ease-in-out; 
                height: 0;
                overflow: hidden;
                .main_answer {
                    font-size: 16px;
                    color:rgb(145, 144, 144);
                    
                }
            }
        }
    }
}

}

.active {
    transition: 0.5s all !important;
    height: 50px !important    ;
    overflow: visible !important;
}

.opened {
    font-weight: 700;
    transition: 0.5s all;
}

.rotation {
    rotate: 180deg;
}

@media (max-width:1050px) {
section {
    flex-direction: column;
    height: fit-content;
    align-items: center;
}
}

@media (max-width:720px) {
    img:nth-child(2) {
        width: 70%;
       
    }
}


